@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
//@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
//@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
//@import "bootstrap/breadcrumb";
//@import "bootstrap/pagination";
//@import "bootstrap/badge";
//@import "bootstrap/jumbotron";
//@import "bootstrap/alert";
//@import "bootstrap/progress";
//@import "bootstrap/media";
@import "bootstrap/list-group";
//@import "bootstrap/close";
//@import "bootstrap/modal";
//@import "bootstrap/tooltip";
//@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";


$bg-primary: #ff8820;
$bg-secondary: #f4f4f5;

$primary-theme-color: #ff8820;

.hr-base {
  position: relative;
  max-width: 40px;
  border: 0;
  border-top: 3px solid $primary-theme-color;
}

.hr-left {
  @extend .hr-base;
  margin: 20px auto 20px 0;
}
.hr-center {
  @extend .hr-base;
  margin: 20px auto;
}

.navbar {
  .nav-box {
    display: flex;
    flex-direction: row;
    @media (min-width: 992px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .nav-top {
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

    }
    .nav-bottom {
      display: inline;
      .nav-item {
        @media (min-width: 992px) {
          margin: 0px 30px;
        }
      }

    }
    .navbar-brand {
      margin-left: 1rem;
    }

  }
  .navbar-nav {
    a.nav-link {
      &:hover {
        color: $primary-theme-color !important;
      }
    }
    .active a.nav-link{
      color: $primary-theme-color !important;

    }
  }
}

#about-us {
  a.button-primary-outline {
    border-width: 2px;
    color: #151515;
    font-weight: 500;
    background-color: transparent;
    border-color: $primary-theme-color;
    text-decoration: none;
    &:hover {
      background-color: $primary-theme-color;
      color: white;
    }
  }
}


.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#punch-line {
  background: url(../images/parallax/1.jpg) 50% 0px no-repeat;
  background-size: cover;
  .card-body {
    min-height: 225px;
  }
}

#featured-art {
  .tile {
    width: 100%;
    height: 300px;
    margin: 0.5rem auto;
    position: relative;
    display: block;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: rgba(255,136,32,0.55);
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.5s, opacity 0.5s;
    }
  }

  .tile:hover::after,
  .tile:focus::after {
    visibility: visible;
    opacity: 1;
  }

  .media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.5s;
    transform: scale(1);
    backface-visibility: hidden;
  }

  .tile:hover .media,
  .tile:focus .media {
    transform: scale(1.2);
  }

  .content {
    top: 50%;
    right: 0;
    left: 0;
    position: absolute;
    text-align: center;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    color: #fff;
    font-size: 2rem;
    transition: visibility 0.5s, opacity 0.5s;
    transform: translateY(-50%);
    backface-visibility: hidden;
  }

  .tile:hover .content,
  .tile:focus .content {
    visibility: visible;
    opacity: 1;
  }
}


.model-item {
  display: flex;
  flex-direction: row;
  img {
    width: 60px;
    height: 60px;
    margin: 5px;
  }
  .item-body {
    padding: 0 5px;
    flex: 1 1 15em;
  }
}

#org {
  .card {
    margin-bottom: 2rem;
    img {
      //overflow: hidden;
      object-fit: cover;
      height: 300px;
    }
    .card-img-overlay {
      background-color: rgba(0,0,0,0.5);
    }
  }
}

#partner {
  .card {
    margin-bottom: 2rem;
    img {
      //overflow: hidden;
      object-fit: cover;
      height: 300px;
    }
    .card-img-overlay {
      background-color: rgba(0,0,0,0.5);
    }
  }
}

#team {
  .member-item {
    img {
      max-width: 18rem;
      box-shadow: 0 5px 5px 0 #adb5bd;
    }
  }
}

footer {

  color: white;
  input.form-control {
    border-radius: 0;
  }
  button.btn-primary {
    color: #fff;
    background-color: $primary-theme-color;
    border-color: $primary-theme-color;
    border-radius: 0;
    padding: 10px 35px;
    font-size: 18px;
    line-height: 20px;
    transition: 250ms all ease-in-out;
    &:hover {
      color: $primary-theme-color;
      background-color: transparent;
      border-color: $primary-theme-color;
    }
  }
  .footer-top {
    padding: 3rem 0;
    background-color: #242424;
    border-bottom: 2px solid $primary-theme-color;
  }
  li.list-group-item {
    background-color: #242424;
    color: white;
    border: none;
  }
  .footer-bottom {
    padding: 1rem 0;
    background-color: #1b1b1b;
  }
}